{% extends "base.html" %}
{% block title %}Contact Page{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}


<div class="wrapper">
  <div class="contacts">
    <h3>Introducing Fast API </h3>
    <ul>
      <li>
        Signin 

      </li>
    </ul>
  </div>

  <div class="form">
    <h3>Log in to your account    </h3>
    <div class="form">
      <form method="post">
        <div>
          <label for="">username</label>
          <input  name="username" placeholder="username" type="text" value="{{ username }}" />
  
        </div>
  

        <div>
          <label for="">password</label>
          <input  name="password" placeholder="password" type="text" value="{{ password }}" />
          <!-- <input type="checkbox" id="vehicle2" name="is_active" value="{{ is_active }}">
          <input required="" name="role" placeholder="password" type="text" value="{{ role }}" /> -->
        </div>
  
        <div>
          <button type="submit">Login</button>
        </div>
  
  
  

        <div>
        </div>
  
      </form>
  </div>
</div>

{% endblock %}